.outer {
    display: flex;
    height: 100px;
}

.left {
    width: 100px;
    background: tomato;
}

.right {
    width: 100px;
    background: gold;
}

.center {
    flex: 1;
    background: lightgreen;
}

