.outer {
    /*display: flex;*/
    height: 100px;
}

.left {
    width: 100px;
    background: tomato;
    float: left;
    height: 100%;
}

.right {
    width: 100px;
    background: gold;
    float: right;
    height: 100%;
}

.center {
    margin: auto;
    width: calc(100% - 200px);
    height: 100%;
    float: left;
    background: lightgreen;
}

